/* stream.css */

/* Класс для скрытия элементов */
.hidden {
    display: none !important;
}

/* Устанавливаем базовые стили для страницы */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

/* Стили для заголовка страницы */
h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

/* Стили для настроек стрима */
#stream-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#audio-options {
    margin-top: 20px;
}

/* Стили для контейнера с кнопками */
.button-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Стили для выпадающего списка */
select {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

select:hover {
    background-color: #0056b3;
}

/* Поля ввода и текстовые области */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#leave {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

/* Стили для контейнера с видео */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

/* Стили для видео */
.video-container video {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}
