/* style.css */

/* Устанавливаем базовые стили для страницы */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

/* Стили для контейнера с видео */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
}

/* Стили для видео */
.video-container video {
    width: 100% !important;
    height: 100% !important;
    /*object-fit: cover !important;*/
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}

/* Стили для нижней полосы с кнопками */
.button-bar {
    position: fixed; /* Фиксируем панель внизу экрана */
    bottom: 0;
    width: 100%;
    background: transparent; /* Делаем фон полностью прозрачным */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh; /* Используем высоту видимой области для отступов */
    box-sizing: border-box;
    height: 10vh; /* Используем высоту видимой области для высоты панели */
    pointer-events: none; /* Отключаем возможность взаимодействия с панелью */
}

/* Стили для кнопок */
.button-bar .button {
    padding: 0; /* Убираем внутренние отступы */
    font-size: 1.5em; /* Устанавливаем размер шрифта для лучшего соответствия */
    font-weight: bold; /* Жирный текст */
    cursor: pointer;
    border: 0.5em solid white; /* Ширина границы */
    border-radius: 50%; /* Круглая форма */
    background: transparent; /* Прозрачный фон */
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    box-shadow: none; /* Убираем тень */
    transition: transform 0.3s ease; /* Плавный переход при наведении */
    pointer-events: all; /* Взаимодействие с кнопками */
    width: 3em; /* Ширина */
    height: 3em; /* Высота */
    line-height: 1; /* Убираем возможные дополнительные отступы у текста */
}

/* Эффекты при наведении для кнопок */
.button-bar .button:hover {
    transform: scale(1.1); /* Увеличение кнопки при наведении */
}

/* Стили для кнопки со знаком плюс */
.button-bar .button[href="stream.html"] {
    font-size: 1.5em; /* Устанавливаем размер шрифта для кнопки со знаком "+" */
}
/* Стили для кнопки со значком ">" */
#audience-join {
    font-size: 6vw; /* Используем ширину видимой области для размера шрифта */
    background: linear-gradient(145deg, #dc3545, #c82333); /* Красный градиентный фон */
    border: none; /* Убираем стандартную границу кнопки */
}

/* Эффекты при наведении для кнопки со значком ">" */
#audience-join:hover {
    background: linear-gradient(145deg, #c82333, #dc3545); /* Инвертированный градиент при наведении */
}


.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px; /* Половина ширины спиннера */
    margin-top: -25px;  /* Половина высоты спиннера */
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #3498db; /* Цвет верхней части спиннера */
    animation: spin 1s linear infinite;
    z-index: 9999; /* Разместить спиннер над всеми элементами */
    display: none; /* Изначально скрываем спиннер */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}